* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: Arial, sans-serif;
    background-color: #eae7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #9b59b6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #fff;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8e44ad;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #7d3c98;
}

#message {
    text-align: center;
    color: #fff;
}
